extends layout

block content
  hr
  div(style="margin-left: 20px")
    h2 Prefixes
    ul
      li(style="list-style-type: none;")  @prefix oslc: &lt;http://open-service.net/ns/core#>   .
      li(style="list-style-type: none;")  @prefix oslc_am: &lt;http://open-service.net/ns/am#>   .
      li(style="list-style-type: none;")  @prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#>   .
      li(style="list-style-type: none;")  @prefix dcterms: &lt;http://purl.org/dc/terms/>   .
      li(style="list-style-type: none;")  @prefix foaf: &lt;http://http://xmlns.com/foaf/0.1/> .
      li(style="list-style-type: none;")  @prefix opm: &lt;http://opm.technion.ac.il/opm#>   .
    h2 catalog
    ul
      li
        a &lt;#{host}/oslc/catalog>
      ul
        li(style="list-style-type: none;") a oslc:ServiceProviderCatalog 
          b ;
        li(style="list-style-type: none;") dcterms:title "OPM OSLC Provider Catalog" 
          b ;
        li(style="list-style-type: none;") dcterms:description "OPM OSLC AM projects hosted on this service provider."  
          b ;
        li(style="list-style-type: none;") oslc:domain oslc_am:  
          b ;
        li(style="list-style-type: none;") dcterms:publisher
        ul
          li(style="list-style-type: none;") [   rdf:type oslc:Publisher  
            b ;
          ul
            li(style="list-style-type: none;") dcterms:title "Object Process Methodology - OPM"  
              b ;
            li(style="list-style-type: none;") oslc:         "OPM"
              b ;
            li(style="list-style-type: none;") dcterms:identifier "http://opm.technion.ac.il/opm#v2.0" 
          li(style="list-style-type: none;") ] 
            b ;
        li(style="list-style-type: none;") oslc:oauthConfiguration
        ul
          li(style="list-style-type: none;") [   rdf:type oslc:OAuthConfiguration  
            b ;
          ul
            li(style="list-style-type: none;") oslc:oauthRequestTokenURI &lt;#{locals["oauth-request-token-uri"]}> 
              b ;
            li(style="list-style-type: none;") oslc:authorizationURI &lt;#{locals["oauth-authorize-uri"]}> 
              b ;
            li(style="list-style-type: none;") oslc:oauthAccessTokenURI &lt;#{locals["oauth-access-token-uri"]}> 
          li(style="list-style-type: none;") ]  
            b ;
    h2 list all service providers urls (in our case: OPM projects):
    ul
      for sp in serviceProviderUrl
        li(style="list-style-type: none;")  oslc:serviceProvider 
          <a href="#{host}/oslc/#{sp.model}/serviceProvider">&lt;#{host}/oslc/#{sp.model}/serviceProvider></a> 
          b #{sp.comma}
    h2 Service providers info:
    ul
      for sp in serviceProviderUrl
        li(style="list-style-type: none;") <a href="#{host}/oslc/#{sp.model}/serviceProvider">&lt;#{host}/oslc/#{sp.model}/serviceProvider></a> 
          ul
            li(style="list-style-type: none;") a oslc:ServiceProvider 
              b ;
            li(style="list-style-type: none;") dcterms:title "#{sp.name}" 
              b ;
            li(style="list-style-type: none;") dcterms:description "#{sp.description}" 
              b .







