extends layout

block content
  hr
  div(style="margin-left: 20px")
    h2 Prefixes
    ul
      li(style="list-style-type: none;")  @prefix oslc: &lt;http://open-service.net/ns/core#>   .
      li(style="list-style-type: none;")  @prefix oslc_am: &lt;http://open-service.net/ns/am#>   .
      li(style="list-style-type: none;")  @prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#>   .
      li(style="list-style-type: none;")  @prefix dcterms: &lt;http://purl.org/dc/terms/>   .
      li(style="list-style-type: none;")  @prefix foaf: &lt;http://http://xmlns.com/foaf/0.1/> .
      li(style="list-style-type: none;")  @prefix opm: &lt;http://opm.technion.ac.il/opm#>   .
      li(style="list-style-type: none;")  @prefix resource: &lt;#{host}/oslc/#{model}/resource/>   .
    h2 Resources
    <a href="#{host}/oslc/#{model}/resource/#{id}">resource:#{id}</a>
    ul
      li(style="list-style-type: none;") a opm:#{type}
        b ;
      li(style="list-style-type: none;") oslc:name "#{id}" 
        b ;
      li(style="list-style-type: none;") dcterms:title "#{text}" 
        b ;
      li(style="list-style-type: none;") dcterms:description "#{description}" 
        b ;
      for property in properties
        li(style="list-style-type: none;") opm:#{property.property} "#{property.value}"
          b #{property.semicolon}






